body{
    padding: 0;
    margin: 0;
    
}
.image{
    width: 200px;
    height: 100px;
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(24, 11, 11);
}
a:hover{
    color: rgb(58, 77, 63);
}
.newTitle{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.newsSubTitle{
    text-align: center;
    font-size: 10px;
}
.CardHeadline{
    background-color: rgb(31, 135, 231);
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    border-radius: 10px;
}
