body{
    padding: 0;
    margin: 0;
    
}
.image{
    margin-top: 4px;
    width: 210px;
    height: 140px;
    background-size:cover;
}
a{
    text-decoration: none;
    color: rgb(24, 11, 11);
}
a:hover{
    color: rgba(177, 185, 179, 0.658);
}
.newTitle{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.newsSubTitle{
    text-align: center;
    font-size: 10px;
}
.CardHeadline{
    background-color: rgb(156, 174, 190);
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    border-radius: 10px;
}
